/* =========================
   TABLET RESPONSIVE
========================= */


@media(max-width:1024px){


.navbar{

padding:0 5%;

}



.hero{

padding:60px 5%;
gap:40px;

}



.hero h1{

font-size:48px;

}



.hero-card{

width:300px;
height:300px;

}



.feature-container{

gap:20px;

}


}



/* =========================
   MOBILE RESPONSIVE
========================= */


@media(max-width:768px){


.navbar{

height:auto;
padding:25px;

flex-direction:column;
gap:25px;

}



.nav-links{

display:none;

}



.nav-buttons{

width:100%;
justify-content:center;

}



.hero{

flex-direction:column;
text-align:center;

padding:50px 20px;

}



.hero-content{

width:100%;

}



.hero h1{

font-size:38px;

}



.hero p{

font-size:16px;

}



.hero-buttons{

display:flex;
flex-direction:column;
gap:15px;

}



.primary-btn,
.secondary-btn{

margin:0;

}



.hero-card{

width:280px;
height:280px;

margin-top:40px;

}



.feature-container{

flex-direction:column;

}



.features h2{

font-size:32px;

}


}




/* =========================
   SMALL MOBILE
========================= */


@media(max-width:480px){


.logo{

font-size:22px;

}



.hero h1{

font-size:32px;

}



.ai-circle{

font-size:70px;

}



.trust-box{

padding:15px;

}



.score{

font-size:30px;

}


}